<section class="login-section">

    <div class="container welcome-screen-content">

        <div class="signup-form">
            <form action="/login" method="post">
                <h2>Login to access moodfiy</h2>
                <p class="hint-text">Welcome Back</p>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox"> Keep me logged in</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">LogIn</button>
                </div>
            </form>
            <div class="text-center">Don't have an account? <a href="/signUp">Sign Up</a></div>
        </div>
    </div>
</section>