<section class="signup-section">

<div class="container welcome-screen-content">

<div class="signup-form">
    <form action="/signUp" method="post">
        <h2>Register</h2>
        <p class="hint-text">Create your account to access moodfiy.</p>
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required="required">
        </div>
        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="/login">Sign in</a></div>
</div>
</div>
</section>