body{
    background-image:linear-gradient(rgba(0,0,0,5.6),rgba(0,5,0,0.6)),url(/images/bg.jpeg);
    height: 250vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    font-size:20px;
    opacity:0.5;
}

li{
color:white;
}